@model ComuniQBD.Models.Comentario

@{
    ViewData["Title"] = "Delete";
    <link rel="stylesheet" href="~/css/Comentario.css" asp-append-version="true" />
}

<h1>Excluir</h1>

<h3>Deseja realmente excluir isso?</h3>
<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 deletComen">
            @Html.DisplayNameFor(model => model.ComentarioTexto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioTexto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publicacao.PublicacaoTitulo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ComentarioId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
