@model IEnumerable<ComuniQBD.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}

<h1>Cometário</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComentarioTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publicacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComentarioTexto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicacao.PublicacaoTitulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComentarioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ComentarioId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ComentarioId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
