@model ComuniQBD.Models.Publicacao

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="~/css/Publicacao.css" asp-append-version="true" />
}

<h1>Detalhes</h1>

<div>
    <h4>Publicação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 detaiPublic">
            @Html.DisplayNameFor(model => model.PublicacaoTitulo)
        </dt>
        <dd class="col-sm-10 detaiPublic">
            @Html.DisplayFor(model => model.PublicacaoTitulo)
        </dd>
        <dt class="col-sm-2 detaiPublic">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10 detaiPublic">
            @Html.DisplayFor(model => model.Bairro.BairroNome)
        </dd>
        <dt class="col-sm-2 detaiPublic">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicacaoMidia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicacaoMidia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicacaoDescricao)
        </dt>
        <dd class="col-sm-10 detaiPublic">
            @Html.DisplayFor(model => model.PublicacaoDescricao)
        </dd>
        <dt class="col-sm-2">
            Usuário
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Usuario
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PublicacaoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
