@model IEnumerable<ComuniQBD.Models.Publicacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublicacaoTitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicacaoMidia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicacaoDescricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublicacaoTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro.BairroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicacaoMidia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicacaoDescricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicacaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicacaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicacaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
