@model IEnumerable<ComuniQBD.Models.TipoDenuncia>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/TipoDenuncia.css" asp-append-version="true" />
}

<h1>Tipo Denuncia</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<div class="table-container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDenunciaNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="tabelinha">
            <td>
                @Html.DisplayFor(modelItem => item.TipoDenunciaNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoDenunciaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TipoDenunciaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoDenunciaId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>