@model ComuniQBD.Models.Campanha

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="~/css/Campanha.css" asp-append-version="true" />
}

<h1>Detalhes</h1>

<div>
    <h4>Campanha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 detaiCam">
            @Html.DisplayNameFor(model => model.CampanhaTitulo)
        </dt>
        <dd class="col-sm-10 detaiCam">
            @Html.DisplayFor(model => model.CampanhaTitulo)
        </dd>
        <dt class="col-sm-2 detaiCam">
            @Html.DisplayNameFor(model => model.CampanhaDescricao)
        </dt>
        <dd class="col-sm-10 detaiCam">
            @Html.DisplayFor(model => model.CampanhaDescricao)
        </dd>
        <dt class="col-sm-2 detaiCam">
            @Html.DisplayNameFor(model => model.TipoCampanha)
        </dt>
        <dd class="col-sm-10 detaiCam">
            @Html.DisplayFor(model => model.TipoCampanha.TipoCampanhaNome)
        </dd>
        <dt class="col-sm-2 detaiCam">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10 detaiCam">
            @Html.DisplayFor(model => model.Cidade.CidadeNome)
        </dd>
        <dt class="col-sm-2 detaiCam">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class="col-sm-10 detaiCam">
            @Html.DisplayFor(model => model.Usuario.UsuarioNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CampanhaId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
