@model ComuniQBD.Models.Campanha

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Campanha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampanhaTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampanhaTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampanhaMidia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampanhaMidia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampanhaDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampanhaDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCampanha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCampanha.TipoCampanhaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.CidadeNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CampanhaId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
