@model ComuniQBD.Models.Bairro

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="~/css/Bairro.css" asp-append-version="true" />
}

<h1>Detalhes</h1>

<div>
    <h4>Bairro</h4>
    <hr />
    <dl class="row ">
        <dt class="col-sm-2 detaiBairr">
            @Html.DisplayNameFor(model => model.BairroNome)
        </dt>
        <dd class="col-sm-10 detaiBairr">
            @Html.DisplayFor(model => model.BairroNome)
        </dd>
        <dt class="col-sm-2 detaiBairr">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10 detaiBairr">
            @Html.DisplayFor(model => model.Cidade.CidadeNome)
        </dd>
        <dt class="col-sm-2 detaiBairr">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10 detaiBairr">
            @Html.DisplayFor(model => model.Estado.EstadoNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BairroId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
