@model IEnumerable<ComuniQBD.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/Usuario.css" asp-append-version="true" />
}

<h1>Usuários</h1>
<div class="flex-pesquisa">
    <button class="btnnew">
        <a asp-action="Create">Criar Novo</a>
    </button>
    <div class="pesquisatoda">
        @using (Html.BeginForm("Index", "Usuario", FormMethod.Get))
        {
            <p>
                <input class="campoPesquisa" id="Pesquisa" name="Pesquisa" type="text" value="" placeholder="Pesquise por um nome" />
                <input type="submit" value="Pesquisar" class="btnPesquisa" />
            </p>
        }
    </div>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioNome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioSobrenome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioTelefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioCidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioBairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioEstado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuarioFoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoPerfil)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tabela">
                    <td class="cedula">
                        @Html.DisplayFor(modelItem => item.UsuarioNome)
                    </td>
                    <td class="cedula">
                        @Html.DisplayFor(modelItem => item.UsuarioSobrenome)
                    </td>
                    <td class="cedula">
                        @Html.DisplayFor(modelItem => item.UsuarioTelefone)
                    </td>
                    <td class="cedula">
                        @Html.DisplayFor(modelItem => item.UsuarioCidade)
                    </td>
                    <td class="cedula">
                        @Html.DisplayFor(modelItem => item.UsuarioBairro)
                    </td>
                    <td class="cedula">
                        @Html.DisplayFor(modelItem => item.UsuarioEstado)
                    </td>
                    <td class="cedula">
                        <img class="imgUsu" src="https://comuniq.s3.amazonaws.com/@Url.Content(item.UsuarioFoto)" />
                    </td>
                    <td class="cedula">
                        @Html.DisplayFor(modelItem => item.TipoPerfil.TipoPerfilNome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UsuarioId">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.UsuarioId">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.UsuarioId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

