@model ComuniQBD.Models.Denuncia

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Deseja realmente excluir isso?</h3>
<div>
    <h4>Denúncia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenunciaTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenunciaTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenunciaMidia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenunciaMidia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenunciaDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenunciaDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDenuncia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDenuncia.TipoDenunciaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro.BairroNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DenunciaId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
