@model ComuniQBD.Models.Denuncia

@{
    ViewData["Title"] = "Details";
    <link rel="stylesheet" href="~/css/Denuncia.css" asp-append-version="true" />
}

<h1>Detalhes</h1>

<div>
    <h4>Denúncia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 detaiDen">
            @Html.DisplayNameFor(model => model.DenunciaTitulo)
        </dt>
        <dd class="col-sm-10 detaiDen">
            @Html.DisplayFor(model => model.DenunciaTitulo)
        </dd>
        <dt class="col-sm-2 detaiDen">
            @Html.DisplayNameFor(model => model.DenunciaDescricao)
        </dt>
        <dd class="col-sm-10 detaiDen">
            @Html.DisplayFor(model => model.DenunciaDescricao)
        </dd>
        <dt class="col-sm-2 detaiDen">
            @Html.DisplayNameFor(model => model.TipoDenuncia)
        </dt>
        <dd class="col-sm-10 detaiDen">
            @Html.DisplayFor(model => model.TipoDenuncia.TipoDenunciaNome)
        </dd>
        <dt class="col-sm-2 detaiDen">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10 detaiDen">
            @Html.DisplayFor(model => model.Bairro.BairroNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DenunciaId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
