@model IEnumerable<ComuniQBD.Models.Denuncia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DenunciaTitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DenunciaMidia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DenunciaDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDenuncia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DenunciaTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DenunciaMidia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DenunciaDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDenuncia.TipoDenunciaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro.BairroId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DenunciaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DenunciaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DenunciaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
